/* Estilo para o container de carregamento */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa a tela inteira */
}

.spinner {
  margin-top: 20px;
  border: 8px solid rgba(0, 0, 0, 0.1); /* Cor da borda externa */
  border-top: 8px solid #3498db; /* Cor da borda superior (dá o efeito de "giro") */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite; /* Animação de rotação */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
